numpy==2.2.0
torch==2.7.1
torchvision==0.22.1
torchaudio==2.7.1
plotly==5.10.0
matplotlib==3.10.3
tqdm==4.67.1
scikit-learn==1.7.0
networkx==3.5
phate==1.0.11
tensorboard==2.19.0
pandas==2.3.0
annoy==1.17.3
einops==0.8.1
scipy==1.16.0
kaleido==0.2.1
h5py==3.14.0
pytest==8.4.1
multiprocess==0.70.18
optuna==4.4.0